asgiref==3.2.5
certifi==2019.11.28
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==3.0.4
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
idna==2.9
itypes==1.1.0
jdatetime==3.6.2
Jinja2==2.11.1
MarkupSafe==1.1.1
mysqlclient==1.4.6
numpy==1.18.2
openapi-codec==1.3.2
pandas==0.24.1
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2019.3
querystring-parser==1.2.4
requests==2.23.0
simplejson==3.17.0
six==1.14.0
sqlparse==0.3.1
uritemplate==3.0.1
urllib3==1.25.8
xlrd==1.2.0
